.app-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-control__actions {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding: 40px 0;
}

.app-control__button {
    padding: 8px 20px;
}